.login{
  height: 750px;
  min-height: 100vh;
  position: relative;
  .login-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    border: 1px solid #979797;
    background: linear-gradient(to left, #F03C3F, #FF7340);
    .trademark{
      height: 70px;
      width: 208px;
      margin: 216px 96px 314px;
      color: #FFFFFF;
      .project-name{
        line-height: 1em;
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }
  .trademark-img{
    height: 40px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &>span{
      float: left;
    }
    .img-one{
      display: inline-block;
      height: 100%;
    }
    .img-two{
      display: block;
      height: 32px;
      margin-left: 16px;

    }
  }
  .login-right{
    width: 368px;
    flex: 1;
    height: 100%;
    background-color: #FFFFFF;
    border: 0.5px solid #979797;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    .top-one{
      height: 28px;
      margin-bottom: 8px;
      font-size: 20px;
      color: rgba(0,0,0,0.85);
      line-height: 28px;
    }
    .top-two{
      height: 44px;
      font-size: 14px;
      color: rgba(0,0,0,0.65);
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
}
.reset-form{
  width: 368px;
  margin: 132px auto;
  .account{
    height: 40px;
    margin-bottom: 32px;
    background: #FFFFFF;
    //border: 1px solid rgba(0,0,0,0.16);
    border-radius: 4px;
  }
  .verification{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    .verification-input{
      width: 254px;
      background: #FFFFFF;
      //border: 1px solid rgba(0,0,0,0.16);
      border-radius: 4px;
    }
    .verification-send{
      cursor: pointer;
      width: 102px;
      background: #FFFFFF;
      border: 1px solid rgba(0,0,0,0.16);
      border-radius: 4px;
      font-size: 14px;
      color: rgba(0,0,0,0.65);
      line-height: 40px;
    }
  }
  .confirm{
    width: 100%;
    font-size: 1em;
  }
}
.login-content{
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.copyright-text{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  left: 0;
  color: #000000;
  font-size: 12px;
  color: rgba(0,0,0,0.45);
  //padding: 8px 0;
}

.close-btn{
  width: 26px;
  height: 25px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  text-align: center;
  .iconfont{
    line-height: 25px;
  }
}

