<template>
  <div class="login">
    <el-button :plain="true"></el-button>
    <div class="login-content">
      <div class="login-left">
        <div class="trademark">
          <div class="trademark-img">
              <span class="img-one">
                <img src="../../assets/white.png">
              </span>
            <span class="img-two">
                <img src="../../assets/FSFA.png"/>
              </span>
          </div>
          <div class="project">
            <span class="project-name">欣和业务员手持后台管理系统</span>
          </div>
        </div>
      </div>
      <div class="login-right">
        <span class="close-btn" @click="backIndex"><i class="iconfont icon-chacha"></i></span>
        <form class="reset-form">
          <h1 class="top-one">设置新密码</h1>
          <p class="top-two">密码至少包含 6-16 位英文字母和数字的组合</p>
          <div class="rule">
            <span class="iconfont " :class="{'icon-chacha': errors.has('password') , 'icon-yonghu': !errors.has('password')}">6位字符</span>
            <span class="iconfont " :class="{'icon-chacha': errors.has('password') , 'icon-yonghu': !errors.has('password')}">包含数字</span>
            <span class="iconfont " :class="{'icon-chacha': errors.has('password') , 'icon-yonghu': !errors.has('password')}">包含英文字母</span>
          </div>
          <div class="account">
            <el-input
              placeholder="请输入新密码"
              v-model="passwordCode.new_password"
              v-validate.initial="{ required: true, regex: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/ }"
              name="password"
              type="password"
              prefix-icon="iconfont icon-yonghu">
            </el-input>
          </div>
          <div class="verification">
            <el-input
              class="verification-input"
              v-model="passwordCode.password_confirm"
              v-validate.initial="{required:true,regex:/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]$/,min:6,max:16}"
              name="confirmPass"
              type="password"
              placeholder="请再次确认密码"
              prefix-icon="iconfont icon-suo-01">
            </el-input>
            <p class="error-tip" v-show="passwordCode.new_password !== passwordCode.password_confirm">两次密码不一致</p>
          </div>
          <span :class="{'confirm': errors.has('password') || passwordCode.new_password !== passwordCode.password_confirm , 'fs-btn fs-btn-primary': !errors.has('password')}" @click="updatePW">重设密码</span>
          <p class="contact">
            <a class="contact-content">联系管理员</a>
          </p>
        </form>
      </div>
    </div>
    <div class="copyright-text">Copyright © 2018 Shinho FSFA</div>
  </div>
</template>
<style src="./login-password.less" lang="less"></style>
<script src="./login-password.js"></script>
