.login{
  height: 750px;
  min-height: 100vh;
  position: relative;
  .login-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    border: 1px solid #979797;
    background-image: linear-gradient(to left, #F03C3F 0%, #FF7340 100%);
    //background: linear-gradient(to left, #F03C3F, #FF7340);
    .trademark{
      height: 70px;
      width: 208px;
      margin: 216px 96px 314px;
      color: #FFFFFF;
      .project-name{
        line-height: 1em;
        font-size: 16px;
      }
    }
  }
  .trademark-img{
    height: 40px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &>span{
      float: left;
    }
    .img-one{
      display: inline-block;
      height: 100%;
    }
    .img-two{
      display: block;
      height: 32px;
      margin-left: 16px;

    }
  }
  .login-right{
    flex: 1;
    height: 100%;
    background-color: #FFFFFF;
    border: 0.5px solid #979797;
    box-shadow:#D9D9D9 0.1px 0.1px 0.1px 0.1px,#D9D9D9 0.1px 0.1px 0.1px 0.1px;
    .top-one{
      width: 368px;
      height: 28px;
      color: #000000;
      font-size: 20px;
      margin-bottom: 8px;
    }
    .top-two{
      width: 368px;
      height: 22px;
      color: #000000;
      font-size: 14px;
    }
  }
}
.reset-form{
  width: 368px;
  margin: 132px auto 0;
  .account{
    height: 40px;
    margin-bottom: 32px;
  }
  .verification{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
  }
  .confirm{
    background: #F5F5F5;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    pointer-events: none;
    display: inline-block;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }
}
.login-content{
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.copyright-text{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 24px;
  left: 0;
  color: #000000;
  font-size: 0.75em;
  //padding: 8px 0;
}

.close-btn{
  width: 26px;
  height: 25px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  text-align: center;
  .iconfont{
    line-height: 25px;
  }
}
.contact-content{
  height: 22px;
  text-decoration: none;
  font-size: 14px;
  color: #2595F7;
}
.contact{
  width: 70px;
  margin-top: 16px;
}
.rule{
  width: 284px;
  height: 22px;
  margin-bottom: 12px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.error-msg{
  height: 20px;
  width: 192px;
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.fs-btn{
  width: 100%;
}
