<template>
    <div class="main">
      <div class="header">header</div>
      <div class="main-container">
        <!--侧边-->
        <div class="side-menu">
          <ul>
            <li>111111</li>
            <li>111111</li>
            <li>111111</li>
            <li>111111</li>
          </ul>
        </div>
        <!--右边-->
        <div class="main-content">
          <!--路由入口-->
          <router-view></router-view>
        </div>
      </div>
    </div>
</template>
<style src="./main.less" lang="less"></style>
<script src="./main.js"></script>
