<template>
  <div class="login">
    <div class="login-content">
      <div class="login-left">
        <div class="trademark">
          <div class="trademark-img">
              <span class="img-one">
                <img src="../../assets/white.png">
              </span>
            <span class="img-two">
                <img src="../../assets/FSFA.png"/>
              </span>
          </div>
          <div class="project">
            <span class="project-name">欣和业务员手持后台管理系统</span>
          </div>
        </div>
      </div>
      <div class="login-right">
        <span class="close-btn" @click="backIndex"><i class="iconfont icon-chacha"></i></span>
        <form class="reset-form">
          <h1 class="top-one">找回密码</h1>
          <p class="top-two">请输入您的工号，点击发送验证码，系统会发送一条短信验证码到您的绑定工号的手机号</p>
          <div class="account">
            <el-input
              placeholder="请输入工号"
              v-validate="'required'"
              v-model="loginCode.sieble_uid"
              name="sieble_uid"
              prefix-icon="iconfont icon-yonghu">
            </el-input>
            <p class="error-tip" v-show="errors.has('sieble_uid')">请输入工号</p>
          </div>
          <div class="verification">
            <el-input
              class="verification-input"
              v-model="loginCode.verify_code"
              name="verify_code"
              v-validate="'required'"
              placeholder="请输入验证码"
              prefix-icon="iconfont icon-suo-01">
            </el-input>
            <button class="send-msg verification-send fs-btn" @click.prevent="sendMsg" :disabled="!show">
              <span v-show="show">发送验证码</span>
              <span v-show="!show">{{count+'秒后获取'}}</span>
            </button>
            <p class="error-tip " v-show="errors.has('verify_code')&&!errorTip">请输入验证码</p>
            <p class="error-tip" v-show="errorTip">{{errorTip}}</p>
          </div>
          <span class="fs-btn fs-btn-primary confirm" @click="verify">下一步</span>
          <p class="contact"><a class="contact-content">联系管理员</a></p>
        </form>
      </div>
    </div>
    <div class="copyright-text">Copyright © 2018 Shinho FSFA</div>
  </div>
</template>
<style src="./login-change.less" lang="less"></style>
<script src="./login-change.js"></script>
