<template>
  <div class="login">
    <div class="login-content">
        <div class="login-left">
          <div class="trademark">
            <div class="trademark-img">
              <span class="img-one">
                <img src="../../assets/white.png">
              </span>
              <span class="img-two">
                <img src="../../assets/FSFA.png"/>
              </span>
            </div>
            <div class="project">
              <span class="project-name">欣和业务员手持后台管理系统</span>
            </div>
          </div>
        </div>
        <div class="login-right">
          <form class="right-center">
            <div class="account form-validate">
              <el-input
                v-model="loginForm.sieble_uid"
                name="sieble_uid"
                v-validate="'required'"
                placeholder="请输入工号"
                prefix-icon="iconfont icon-yonghu">
              </el-input>
              <p class="error-tip" v-show="errors.has('sieble_uid')">请输入工号</p>
            </div>
            <div class="password form-validate">
              <el-input
                type="password"
                v-model="loginForm.password"
                name="password"
                v-validate="'required'"
                placeholder="请输入密码"
                prefix-icon="iconfont icon-suo-01">
              </el-input>
              <p class="error-tip" v-show="errors.has('password')&&!errorTip">请输入密码</p>
              <p class="error-tip" v-show="errorTip">{{errorTip}}</p>
            </div>
            <div class="remember">
                <label class="remember-password">
                  <input type="checkbox">记住密码
                </label>
                <span class="forget-password" @click="forgetPW">忘记密码？</span>
              </div>
            <span class="fs-btn fs-btn-primary login-in" @click="login">登录</span>
          </form>
        </div>
    </div>
    <div class="copyright-text">Copyright © 2018 Shinho FSFA</div>
  </div>
</template>

<style src="./login.less" lang="less"></style>
<script src="./login.js"></script>
