.login{
  height: 750px;
  min-height: 100vh;
  position: relative;
  .login-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    border: 1px solid #979797;
    background-image: linear-gradient(to left, #F03C3F 0%, #FF7340 100%);
    .trademark{
      height: 70px;
      width: 208px;
      margin: 216px 96px 314px;
      color: #FFFFFF;
      .project-name{
        line-height: 1em;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }
  .trademark-img{
    height: 40px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &>span{
      float: left;
    }
    .img-one{
      display: inline-block;
      height: 100%;
    }
    .img-two{
      display: block;
      height: 32px;
      margin-left: 16px;

    }
  }
  .login-right{
    width: 368px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    .account{
      height: 40px;
      margin-bottom: 32px;
      background: #FFFFFF;
      border-radius: 4px;
    }
    .password{
      height: 40px;
      margin-bottom: 32px;
      background: #FFFFFF;
      border-radius: 4px;
    }
    .remember{
      height: 22px;
      width: 100%;
      margin-bottom: 16px;
      .remember-password{
        font-size: 14px;
        color: rgba(0,0,0,0.65);
        letter-spacing: 0;
        text-align: left;
        line-height: 22px;
        float: left;
        width: 120px;
        height: 22px;
      }

      .forget-password{
        font-size: 14px;
        color: #2595F7;
        text-align: right;
        line-height: 22px;
        float: right;
        width: 70px;
        height: 22px;
        text-decoration:none;
        cursor:pointer;
      }
    }
    .login-in{
      width: 100%;
      font-size: 1em;
    }
  }
}
.login-content{
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
  .copyright-text{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 24px;
    left: 0;
    font-size: 12px;
    color: rgba(0,0,0,0.45);
}
  .right-center{
    width: 368px;
    height: 222px;
    margin: 132px 116px 246px;
  }


