<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="less">
  @import "assets/iconfont/iconfont.css";
  /*默认样式覆盖*/
  h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  div,p,ul,ol,li,form{
    margin: 0;
    padding: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /*按钮*/
  .fs-btn{
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  .fs-btn-sm{
    display: inline-block;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
    .fs-btn-primary{
    background-image: linear-gradient(90deg, #FF7340 0%, #F03C3F 100%);
    color: #fff;
    border: none;
    &:hover{
      opacity: 0.75;
    }
    &:active{
      position: relative;
      opacity: 1;
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.15);
        border-radius: 4px;
      }
    }
  }
  .fs-btn-outline{
    background-color: #fff;
    border: 1px solid #dcdfe6;
  }
  /*form*/
  .form-validate{
    position: relative;
  }
  .error-tip{
    height: 20px;
    width: 192px;
    color: red;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -25px;
  }
</style>
